[Desktop Entry]
Name=st
GenericName=Terminal
Comment=st is a suckless terminal implementation for X
Exec=st
TryExec=st
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
StartupWMClass=st
